#header {
	background-image: url(Site_Images_18/Downtown_Rochester_NY_01.jpg);
	background-size: center;
	height: 400px; 
  	background-position: left-bottom; 
  	background-repeat: no-repeat; 
  	background-size: cover; 
}
